[Unit]
Description=xpadcar service
Restart=always

[Service]
ExecStart=/home/pi/xpadcar_rpi/scripts/connect_pad_and_run.sh

[Install]
WantedBy=multi-user.target

