[Unit]
Description=xpadcar service

[Service]
ExecStart=/home/pi/xpadcar_rpi/scripts/connect_pad_and_run.sh
Restart=always

[Install]
WantedBy=multi-user.target

